<h1>Chef Node Status</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Count</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= link_to 'Converged', '#converged' %></td>
    <td><%= @converged.size %></td>
    <td>Nodes with <b>successful</b> chef runs in the last <%= reporting_interval %></td>
  </tr>
  <tr>
    <td><%= link_to 'Failing', '#failing' %></td>
    <td><%= @failing.size %></td>
    <td>Nodes with <b>failed</b> chef runs in the last <%= reporting_interval %></td>
  </tr>
  <tr>
    <td><%= link_to 'Offline', '#offline' %></td>
    <td><%= @offline.size %></td>
    <td>Nodes that have not reported a chef run in the last <%= reporting_interval %></td>
  </tr>
</table>


<%= render :partial => 'nodes', :locals => {:name => 'converged', :reports => @converged} %>
<%= render :partial => 'nodes', :locals => {:name => 'failing', :reports => @failing} %>
<%= render :partial => 'nodes', :locals => {:name => 'offline', :reports => @offline} %>

