<p id="notice"><%= notice %></p>

<p>
  <b>Node:</b>
  <%= @chef_report.node %>
</p>

<p>
  <b>Success:</b>
  <%= @chef_report.success %>
</p>


<%= link_to 'Edit', edit_chef_report_path(@chef_report) %> |
<%= link_to 'Back', chef_reports_path %>
